@charset "UTF-8";
/* CSS Document */

body {
  background: #141E30;
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  background: linear-gradient(-45deg, #35577D, #141E30);
  margin: 0px;
  padding-bottom: 0px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
}

h1 {
    margin: 70px 0 70px;
	font-family: 'Bowlby One SC', cursive;
	font-size: 80px;
	text-align: center;
	color: aliceblue;
	animation: fadein 3s;
}

@keyframes fadein {
	from { opacity: 0;}
	to { opacity: 1;}
}

h2 {
	text-align: center;
	color: aliceblue;
	margin: 20px 0px 30px;
	font-size: 60px;
}

#smoltext {
	font-size: 30px;
}

#marchingcareer {
	margin: auto;
	padding-top: 0px;
}

p {
	text-align: center;
	color: #738CA6;
	margin: 35px 0px 35px;
}

ul {
	list-style-type: none;
}

li {
	text-align: left;
	line-height: 25px;
}

img {
	width: 400px;
	height: 400px;
	border: #000000 medium solid;
	border-radius: 5px;
}

h4 {
	text-align: center;
	color: aliceblue;
}

a {
	color: aliceblue;
}

.firstlist {
	color: aliceblue;
	text-align: center;
	margin: auto;
	top: 75px;
	width: 415px;
}

.image-gallery {
	display: flex;
	margin: 50px auto 120px;
	justify-content: space-between;
	flex-direction: row;
	width: 900px;
	flex-wrap: wrap;

}

.favbands {
	display: flex;
	margin: 35px auto 80px;
	flex-direction: row;
	width: 92%;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}

.bands h3 {
	color: aliceblue;
	background-color: black;
	border-radius: 6px;
	padding: 10px;
	width: 40%;
	margin: 20px auto;
}

.bands {
	text-align: center;

}

.forhover:hover {
	opacity: 0.5;
}

.otherpages {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	width: 15%;
	margin: auto;
}

#main-page {
	margin: 70px 0px 20px;
}

#mmtitle {
	width: 30%;
}

#ptitle {
	width: 20%;
}

.otherhtwo {
	margin: 80px auto 5px auto;
	
}

#honorable-mentions.otherhtwo {
	background-color: black;
	border-radius: 6px;
	padding: 10px;
	width: 15%;
	font-size: 25px;
}

.musiclist {
	margin: 20px auto;
}

.musiclist li {
	text-align: center;
	color: aliceblue;
}

.musiclist ul {
	padding-left: 0;
}

#sptitle {
	width: 55%;
}

#mntitle {
	width: 25%;
}

.films {
	width: 410px;
	height: 580px;
}

.films:hover {
	opacity: 0.5;
}